
  /* navigation */
  .content{
    display: flex;
    align-items: center;
  }
  .navbar {
    width: 100%;
    background-color: #ED7200;
    display: block;
    position: absolute;
    box-shadow: 0px 4px 35px rgba(162, 58, 0, 0.75);
    z-index: 100000;
    margin-bottom: 5px;
    padding: 5px 0;
    border-radius: 0 0 500px 50%/20px;
    top: 0;
    left: 0;
  }
  
.navbar_content {
    display: flex;
    justify-content: center;
}
  
.navbar_content--item {
    list-style-type: none;
    text-align: left;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0 10px;
  }
  
.navbar_content--item a {
    color: #e5e5e5;
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 35px;
    line-height: 22px;
    text-decoration: none;
}
  
.navbar_content--item a:hover {
    border: 2px solid #FFFFFF;
    border-radius: 33px;
    padding: 10px 24px;
    color: #fff;
}
  
.navbar_contact a {
    color: #fff;
    display: flex;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
  
.navbar_contact--link i {
      padding: 8px;
      border: #fff solid 1px;
      border-radius: 50%;
}
  
.navbar_contact--link span {
    padding-left: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}


/* Home */
.home_logo{
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 100px
}
.home_logo img{
  position: relative;
  top: 35px;
}

.home_logo span{
  font-family: 'iCiel Koni';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 100px;
}
.home_container{
  padding: 10px 10px;
  margin: 0 100px;
  background-color: #FDE8B3;
  border-radius: 50px;
  color: #000000;
  position: relative;
  z-index: 10;
  margin-top: 70px;
}
.home_content{
}

.home_infomation{
    padding: 10px 10px;
    background-color: #FDE8B3;
    border-radius: 50px;
    color: #000000;
    position: relative;
    z-index: 10;

    border: 3px dashed #FFB489;
    background-color: #FFF6D4;
    height: 100%;
    border-radius: 50px;
    padding: 30px 40px;
}

.home_information--detail{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #23221F;
  opacity: 0.7;
}
.home_information--detail p:first-child{
  margin-bottom: 1rem;
}
.home_information--list{
  margin-top: 30px;
  list-style: none;
}
.home_information--item{
  margin-bottom: 16px;
  display: flex;
  align-items: center;

}
.home_information--item span{
  font-weight: 700;
  padding-left: 40px;
}
.home_information--item p{
  font-weight: 700;
  padding-left: 8px;
}
.star-1{
  color: #FF9302;
  z-index: 1;
  font-size: 35px;
}
.star-2{
  color: #FFFC81;
  z-index: 2;
  font-size: 25px;
  left: 85px;
  padding: 4px 0;
  position: absolute;
}

.home_reservation{
  border: 3px dashed #FFB489;
  background-color: #FFF6D4;
  border-radius: 50px;
  padding: 60px 20px 30px 20px;
  height: 100%;
  position: relative;
}

.home_reservation--title{
  position: absolute;
  background: linear-gradient(176.02deg, #FF000A -12.67%, #C2000B 101.08%);
  width: 284px;
  height: 80px;
  filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));
  border-radius: 50px 50px 300px 100%/50px;
  align-items: center;
  /* width: 50%; */
  top: -30px;
  margin-left: 12%;
  /* border: 1px dashed #fff; */

}
.home_reservation--title span{
  font-family: 'Coiny', cursive;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 41px;
  color: #FFFFFF;

  border: 1px dashed #fff;
  position: absolute;
  padding: 10px 55px 15px 55px;
  border-radius: 50px 50px 300px 100%/50px;
  position: absolute;
  top: 6px;
  left: 9px;
}
/* form */
.home_reservation-form{
  margin-top: 22px;
}

.home_container .reservation .reservation-content {
  border: 3px dashed #FFB489;
  background-color: #FFF6D4;
  border-radius: 50px;
  padding: 60px 20px 30px 20px;
  height: 100%;
}

.form-group input {
  margin-top: 15px;
  width: 100%;
  height: 56px;
  padding: 15px 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #989A9C;
  
}

.form-group i {
  background: #FFDE32;
  font-size: 25px;
  font-weight: 700;
  padding: 10px 10px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 4px 1px 2px #ffa90b;
}

.button {
  background: #FF000A;
  box-shadow: 2px 4px 1px 2px #d23333;
  border-radius: 16px;
  width: 70%;
  height: 50px;
  outline: none;
  border: none;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Coiny', cursive;
  color: #fff;
  margin-left: 60px;
  margin-top: 15px;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
}
.form-group{
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 16px;
}
.form-group input{
  background: #FFFFFF;
  /* inner shadow */
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 16px;
  border: none;
}
/* image */
.home_image{
  /* position: relative; */
}
.home_image--item-1{
  position: absolute;
  right: 43.47%;
  top: 30.58%;
  width: 7%;

}
.home_image--item-2{
  position: absolute;
  width: 8%;
  left: 88.18%;
  top: 100%;
}
.home_image--item-3{
  position: absolute;
  width: 7%;
  left: 32.81%;
  /* bottom: 50%; */
}
.home_image--item-4{
  position: absolute;
  width: 9%;
  left: 91.67%;
  top: 50%;
}
.home_image--item-5{
  position: absolute;
  width: 8%;
  left: 18px;
  top: 290px;
}
.home_image--item-6{
  position: absolute;
  left: -50px;
  top: 544px;
  width: 19%;
  z-index: 11;
}
.home_image--item-7{
  position: absolute;
  width: 40%;
  right: 60px;
  top: 74px;
}

/* EVENT */
.event_title{
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 22px;
}

.event_container{
  margin: 30px 100px;
  position: relative;
  z-index: 10;
}

.event_content{

}

.event_item{
  background: #FFFFFF;
  box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35);
  border-radius: 20px;
  
}
.event_item img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.event_item--content{
  padding: 20px 20px;
  display: block;
  position: relative;
  font-family: Montserrat;
  color: #0f0f0f;
}

.event_item--content h3{
  color: #23221F;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 8px;
}
.event_item--content span{
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #6C7272;
}
.event_item--date{
  margin-top: 8px;

}
.event_item--price{
  margin-top: 24px;
}
.event_item--price span{
  color: #FA7D09;
  font-weight: 700;
  font-size: 32px;
  margin: 10px 0;
  line-height: 48px;
  letter-spacing: 0.005em;
  color: #FA7D09;
}
.event_image{

}
.event_image--item-1,
.detailEvent_image--item-1{
  position: absolute;
  width: 30%;
  left: 1119.17px;
  top: 14.35px;
  transform: rotate(9.58deg);
}
.event_image--item-2,
.detailEvent_image--item-2{
  position: absolute;
  width: 100%;
  left: 0;
  top: 70px;
  z-index: 1;
}
.event_image--item-3,
.detailEvent_image--item-3{
  position: absolute;
  width: 30%;
  left: -30px;
  top: 70px;
}


/* CONTACT */
.contact_title{
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 22px;
}
.contact_container{
  margin: 30px 50px 30px 100px;
  
}
.contact_content{

}
.contact_form{

}
.contact_form--content{
  border: 3px dashed #FFB489;
  border-radius: 50px;
  padding: 50px;
  height: 100%;
}
.contact_form--content span{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #23221F;
  opacity: 0.7;
}
.form-body{
  margin-top: 35px;
}
.form-control{
  margin-top: 22px;
  background: #FFFFFF;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #989A9C;
  padding: 15px 16px;
  width: 100%;
  border: none;
}
.form-contact{
  text-align: center;
}
.contact_list{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact_item{
  margin-bottom: 28px;
  
}
.contact_item--content{
  border: 3px dashed #FFB489;
  border-radius: 50px;
  padding: 25px;
  height: 100%;

}
.contact_item--content{
  display: flex;
  align-items: center;
}
.contact_item--content img{
  padding-right: 24px;
  width: 23%;
  height: 23%;
}
.contact_item--content-title h3{
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #12265A;
}
.contact_item--content-title span{
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #23221F;
  opacity: 0.7;
}
.contact_image--item-1{
  position: absolute;
  width: 16%;
  left: -27px;
  top: 422px;
}

/* Payment */
.payment_title{
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 22px;
}

.payment_container{
  margin: 30px 50px 30px 100px;
}

.payment_form{
  position: relative;
}

.payment_form--content{
  border: 3px dashed #FFB489;
  border-radius: 50px;
  padding: 50px;
  height: 100%;
}
.payment_info--title{
  position: absolute;
  background: linear-gradient(176.02deg, #FF000A -12.67%, #C2000B 101.08%);
  height: 80px;
  filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));
  border-radius: 50px 50px 300px 100%/50px;
  align-items: center;
  width: 40%;
  top: -30px;
}
.payment_info--title span{
  
  font-family: 'Coiny', cursive;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 41px;
  color: #FFFFFF;

  border: 1px dashed #fff;
  position: absolute;
  padding: 10px 12px;
  border-radius: 50px 50px 300px 100%/50px;
  position: absolute;
  top: 6px;
  left: 9px;
}

.payment_detail{ 
  position: relative;
}

.payment_detail--title{
  position: absolute;
  background: linear-gradient(176.02deg, #FF000A -12.67%, #C2000B 101.08%);
  height: 80px;
  filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));
  border-radius: 50px 50px 300px 100%/50px;
  align-items: center;
  width: 80%;
  top: -30px;
  margin-left: 7%;
  /* border: 1px dashed #fff; */

}
.payment_detail--title span{
  font-family: 'Coiny', cursive;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 41px;
  color: #FFFFFF;

  border: 1px dashed #fff;
  position: absolute;
  padding: 10px 12px;
  border-radius: 50px 50px 300px 100%/50px;
  position: absolute;
  top: 6px;
  left: 9px;
}
.payment_detail--form form{
  border: 3px dashed #FFB489;
  border-radius: 50px;
  padding: 50px;
  height: 100%;
}
.payment_image{

}

.payment_image--item-1{
  position: absolute;
  width: 16%;
  left: -28px;
  top: 347px;
}
.payment_image--item-2{
  position: absolute;
  left: 61.8%;
  right: 30.92%;
  top: 35.38%;
  bottom: 7.07%;

}

/* PAYMENT SUCCESS */
.paymentSuccess{

}


.paymentSuccess_title{
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 22px;
}

.paymentSuccess_container{
  margin: 30px 50px 30px 100px;
}

.paymentSuccess_content{
  border: 3px dashed #FFB489;
  border-radius: 50px;
  padding: 50px 80px;
  height: 100%;
  position: relative;
}

.paymentSuccess_item{
  background: #FFFFFF;
  box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35);
  border-radius: 20px;
  text-align: center;
}
.paymentSuccess_item img{
  padding: 40px;
}
.paymentSuccess_item--content{
  display: flex;
  flex-direction: column;
}
.paymentSuccess_item--content h3{
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}
.paymentSuccess_item--content > span{
  margin-top: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFC226;
}

.paymentSuccess_item--content p{
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.paymentSuccess_item--date{
  margin-top: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #23221F;
}

.paymentSuccess_tick{
  font-size: 50px;
  color: #fff;
  background: #44C4A1;
  border-radius: 50%;
  margin: 32px 102px 16px 102px;
  padding: 10px;
  border-radius: 50%;
}
.paymentSuccess_total{
  margin-top: 36px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #23221F;
}
.paymentSuccess_btn{
  display: flex;
  justify-content: center;
}
.paymentSuccess_image--item-1{
  position: absolute;
  width: 16%;
  left: -43px;
  top: 347px;
}


/* DETAIL ITEM */
.detailEvent_title{
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 22px;
}
.detailEvent_container{
  margin: 30px 50px 30px 100px;
  position: relative;
  z-index: 10;
}
.detailEvent_content--item{
  border: 3px dashed #FFB489;
  border-radius: 50px;
  padding: 50px 40px;
  height: 100%;
  position: relative;
}
.detailEvent_item{
 
}
.detailEvent_item--content{
  /* margin-top: 32px; */
}
.detailEvent_item--content span{
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #6C7272;

}
.detailEvent_item--date span{
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: #444444;
  margin-top: 8px;
  
}
.detailEvent_item .detailEvent_item--price span{
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.005em;
  color: #FA7D09;
  margin-top: 12px;
}
.detailEvent_context span{
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #FA7D09;

}
.detailEvent_context p{
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.detailEvent_item img{
  margin-bottom: 32px;
}
.detailEvent_item span{
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.detailEvent_item.reserve{
  display: flex;
  flex-direction: column-reverse;
}
.detailEvent_item.reserve span{
  margin-bottom: 32px;
}
.detailEvent_image{

}




